*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Galamond';
}

section{
    overflow-x: hidden;
}


#sec1{
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    background-color: coral;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 20px;
    
}

#sec1head{
    font-size: 60px;
    position: absolute;
    top: 8%;
    left: 30%;
    color: darkblue;
}

#sec1 .div1{
    width: 200px;
    height: 250px;
    border: 1px solid none;
    margin-left: 1%;
    border-radius: 30px;
    border-top: 40px;
    background: linear-gradient(to bottom,beige,red);
}

#sec1 .div2{
    width: 200px;
    height: 270px;
    border: 1px solid none;
    border-radius: 60px;
    border-top: 40px;
    background: linear-gradient(to bottom,beige,blue);
}

#sec1 .div3{
    width: 200px;
    height: 290px;
    border: 1px solid none;
    border-radius: 90px;
    border-top: 40px;
    background: linear-gradient(to bottom,beige,yellow);
}

#sec1 .div4{
    width: 200px;
    height: 270px;
    border: 1px solid none;
    border-radius: 60px;
    border-top: 40px;
    background: linear-gradient(to bottom,beige,darkgreen);
}

#sec1 .div5{
    width: 200px;
    height: 250px;
    border: 1px solid none;
    margin-right: 2%;
    border-radius: 30px;
    border-top: 40px;
    background: linear-gradient(to bottom,beige,cyan);
}

/* section 2 */

#sec2{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#sec2head{
    font-size: 55px;
    color: crimson;
    position: absolute;
    top: 10%;
    left: 28%;
}

.box{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 30px;
    background: repeating-conic-gradient(from var(--a),red 0%,blue 5%,transparent 40%,gold 50%);
    animation: animate 4s linear infinite;
}

@property --a{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes animate {
    0%{
        --a: 0deg;
    }

    100%{
        --a: 360deg;
    }
}

.box::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from var(--a),silver 0%,crimson 5%,transparent 40%,darkblue 50%);
    animation: animate 4s linear infinite;
    animation-delay: -1s;
    border-radius: 30px;
}

.box::after{
    content: "";
    position: absolute;
    inset: 8px;
    background: #25252d;
    border-radius: 20px;
    border: 8px solid #25252d;
}




/* section 3 starts here */

 #sec3{
    width: 100%;
    height: 100vh;
    border: 1px solid black;
} 

#sec3head{
    font-size: 60px;
    color: crimson;
    position: relative;
    top: 10%;
    left: 25%;
}

#sec3 div{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 0 15px red;
    box-sizing: border-box;
    text-align: center;
    transition: .5s;
}

#sec3 div:hover{
    border-radius: 0%;
    /* background: red; */
}


#sec3 div::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
    z-index: -1;
    transform: rotate(-45deg);
}

#sec3 div p{
    margin: 0%;
    padding: 0%;
    color: aliceblue;
    font-size: 18px;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: .5s;
}
#sec3 div:hover p{
    box-shadow: 0 0 50px rgba(0,0,0, .5);
}


/* section 4 starts here */

#sec4{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
}

#sec4head{
    font-size: 60px;
    color: crimson;
    position: absolute;
    top: 8%;
    left: 28%;
}


#sec4 .container{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 50px;
}
#sec4 .container .cont_box{
    position: relative;
    width: 200px;
    height: 250px;
    background: linear-gradient(45deg, orangered 10%,transparent 10% , transparent 50% , orangered 50% , orangered 60% , transparent 60% , transparent 100%);
    background-size: 15px 15px;
    box-shadow: 0 0 0 10px black, 0 0 0 14px orangered;
    filter: hue-rotate(calc(var(--i) * 90deg));
    animation: cont_round 0.5s linear infinite;
}

#sec4 .container .cont_box::before{
    content: "";
    position: absolute;
    inset: 20px;
    background: black;
}

#sec4 .container .cont_box::after{
    content: "";
    position: absolute;
    inset: 30px;
    border: 3px solid orangered;
}

@keyframes cont_round {
    0%{
        background-position: 0;
    }

    100%{
        background-position: 15px;
    }
}


/* section 5 starts here */

#sec5{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.anicont{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.anicont .anibox{
    position: relative;
    width: 350px;
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 15px rbga(0,0,0,.1);
    border-radius: 4px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    
    
    
}

.anicont .anibox::before{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.2);
    z-index: 2;
}

.anicont .anibox .anicon1{
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
}

.anicont .anibox .anicon2{
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
}

.anicont .anibox .anicon3{
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
}


.anicont .anibox .anicon1{
    box-shadow: 0 0 0 0 #e91e63;
    background: #e91e63;
}

.anicont .anibox:hover .anicon1{
    box-shadow: 0 0 0 400px #e91e63;
}

.anicont .anibox .anicon2{
    box-shadow: 0 0 0 0 #23e629;
    background: #23e629;
}

.anicont .anibox:hover .anicon2{
    box-shadow: 0 0 0 400px #23e629;
}

.anicont .anibox .anicon3{
    box-shadow: 0 0 0 0 #2196f2;
    background: #2196f2;
}

.anicont .anibox:hover .anicon3{
    box-shadow: 0 0 0 400px #2196f2;
}

.anicont .anibox .descont{
    position: relative;
    z-index: 1;
    transition: 0.5s;
    align-items: center;
}

.anicont .anibox:hover .descont{
    color: #fff;
}

.anicont .anibox .descont h3{
    font-size: 20px;
    margin: 30px 0;
    padding: 0;
}

.anicont .anibox .descont p{
    margin: 0%;
    padding: 0%;
}

.anicont .anibox .descont a{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    margin-top: 20px;
    box-shadow: 0 2px 5px rbga(0,0,0,.2);
}

/* section 5 ends here */


/* section 6 starts from here */

#sec6
{
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #112c38;
}

#sec6 ul
{
    margin: 0%;
    padding: 0%;
    display: flex;
    gap: 70px;
}

#sec6 ul li
{
    margin: 0%;
    list-style: none;
    transition: 0.5px;

}

#sec6 ul li a 
{
    position: relative;
    display: block;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
}

#sec6 ul:hover li a 
{
   transform: scale(1.4);
   opacity: .2;
   /* filter: blur(5px); */
}

#sec6 ul li a:hover
{
   transform: scale(1.3);
   opacity: 1;
   filter: blur(0);
}

#sec6 ul li a::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff497c;
    border-radius: 30px;
    transition: 0.5s;
    transform-origin: right;
    transform: scaleX(1);
    z-index: -1;
}

#sec6 ul li a:hover:before
{
    transition: transform 0.5s;
    transform: scaleX(1);
    transform-origin: left;
}



/* section 6 ends here */


/* section 7 starts from here */

#sec7{
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

}

#sec7 .sec7-div{
    width: 800px;
    height: 300px;
    border: 1px solid black;
    border-radius: 50px;
    position: relative;
    background: linear-gradient(to bottom,rgba(248, 162, 2, 0.422), rgba(253, 69, 2, 0.795),rgb(0, 230, 246));
}

.sec7-sdiv1{
    position: absolute;
    width: 15px;
    height: 120px;
    background: linear-gradient(to top,rgba(165, 42, 42, 0.597),rgb(167, 99, 9),burlywood);
    top: 65px;
    left: 130px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    transform: rotate(10deg);
}

.leaf1{
    position: absolute;
    top: 2px;
    left: 8px;
    width: 40px;
    height: 10px;
    border: 1px solid black;
    transform: rotate(15deg);
    border-top-right-radius: 10px;
    border-top-left-radius: 8px;
    background: linear-gradient(to right,rgba(7, 151, 7, 0.904),rgba(2, 223, 2, 0.811));
}

.leaf2{
    position: absolute;
    top: -13px;
    left: 2px;
    width: 40px;
    height: 10px;
    border: 1px solid black;
    transform: rotate(-30deg);
    border-top-right-radius: 10px;
    border-top-left-radius: 8px;
    background: linear-gradient(to right,rgba(7, 151, 7, 0.904),rgba(2, 223, 2, 0.811));
}


.leaf3{
    position: absolute;
    top: 1px;
    right: 9px;
    width: 40px;
    height: 10px;
    border: 1px solid black;
    transform: rotate(-15deg);
    border-top-right-radius: 10px;
    border-top-left-radius: 8px;
    background: linear-gradient(to right,rgba(2, 223, 2, 0.811),rgba(7, 151, 7, 0.904));
}


.sec7-sdiv2{
    position: absolute;
    width: 15px;
    height: 120px;
    background: linear-gradient(to top,rgba(165, 42, 42, 0.597),rgb(167, 99, 9),burlywood);
    top: 65px;
    left: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    transform: rotate(-10deg);
}

.leaf4{
    position: absolute;
    top: -15px;
    left: 1px;
    width: 40px;
    height: 10px;
    border: 1px solid black;
    transform: rotate(-35deg);
    border-top-right-radius: 10px;
    border-top-left-radius: 8px;
    background: linear-gradient(to right,rgba(7, 151, 7, 0.904),rgba(2, 223, 2, 0.811));
}



.leaf5{
    position: absolute;
    top: 1px;
    right: 9px;
    width: 40px;
    height: 10px;
    border: 1px solid black;
    transform: rotate(-15deg);
    border-top-right-radius: 10px;
    border-top-left-radius: 8px;
    background: linear-gradient(to right,rgba(2, 223, 2, 0.811),rgba(7, 151, 7, 0.904));
}

/* island */
.sec7-div2{
    position: absolute;
    width: 150px;
    height: 100px;
    top: 170px;
    left: 50px;
    /* border: 3px solid burlywood; */
    background: linear-gradient(to bottom,rgba(152, 26, 26, 0.551),burlywood,burlywood,burlywood);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}


.sec7-mainship{
    position: absolute;
    top: 150px;
    right: 100px;
    width: 200px;
    height: 60px;
    border: 1px solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 10px;
    background: linear-gradient(to bottom,rgb(209, 208, 208),rgb(250, 230, 230));
}

.subship1{
    position: absolute;
    width: 20px;
    height: 65px;
    border: 1px solid black;
    bottom: -0.5px;
    left: -20px;
    border-top-right-radius: 20px;
    background: linear-gradient(to bottom,rgb(209, 208, 208),rgb(250, 230, 230));

}

.ship-window{
    position: absolute;
    left: 10px;
    top: 5px;
    width: 40px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #000;
}

.windowb1{
    width: 3px;
    height: 30px;
    position: absolute;
    left: 18px;
    border-radius: 2px;
    border: 1px solid none;
    background-color: #fff;
}

.windowb2{
    width: 3px;
    height: 40px;
    position: absolute;
    left: 18px;
    top: -6px;
    border-radius: 2px;
    border: 1px solid none;
    transform: rotate(90deg);
    background-color: #fff;

}

.second-portion{
    width: 160px;
    height: 50px;
    border: 1px solid black;
    border-bottom: none;
    position: absolute;
    top: 100px;
    right: 110px;
    border-top-left-radius: 20px;
    background: linear-gradient(to bottom,rgb(201, 173, 173),rgb(251, 235, 235));
}

.gate-second{
    position: absolute;
    top: 10px;
    right: 45px;
    width: 30px;
    height: 40px;
    border: 1px solid black;
    background-color: rgb(188, 164, 164);

}

.gate-entry{
    position: absolute;
    top: 19px;
    left: 7px;
    width: 15px;
    height: 20px;
    border-bottom: none;
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: inset 2px 2px 2px grey;
    background-color: rgb(222, 219, 219);
}




/* section 7 ends here */