*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Galamond';
}

#sec1{
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    background-color: coral;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 20px;
    
}

#sec1head{
    font-size: 60px;
    position: absolute;
    top: 5%;
    left: 25%;
}

#sec1 .div1{
    width: 200px;
    height: 250px;
    border: 1px solid none;
    margin-left: 2%;
    border-radius: 30px;
    border-top: 40px;
    background: linear-gradient(to bottom,beige,red);
}

#sec1 .div2{
    width: 200px;
    height: 270px;
    border: 1px solid none;
    border-radius: 60px;
    border-top: 40px;
    background: linear-gradient(to bottom,beige,blue);
}

#sec1 .div3{
    width: 200px;
    height: 290px;
    border: 1px solid none;
    border-radius: 90px;
    border-top: 40px;
    background: linear-gradient(to bottom,beige,yellow);
}

#sec1 .div4{
    width: 200px;
    height: 270px;
    border: 1px solid none;
    border-radius: 60px;
    border-top: 40px;
    background: linear-gradient(to bottom,beige,darkgreen);
}

#sec1 .div5{
    width: 200px;
    height: 250px;
    border: 1px solid none;
    margin-right: 2%;
    border-radius: 30px;
    border-top: 40px;
    background: linear-gradient(to bottom,beige,cyan);
}

/* section 2 */

#sec2{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#sec2head{
    font-size: 50px;
    color: crimson;
    position: absolute;
    top: 5%;
    left: 13%;
}

.box{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 30px;
    background: repeating-conic-gradient(from var(--a),red 0%,blue 5%,transparent 40%,gold 50%);
    animation: animate 4s linear infinite;
}

@property --a{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes animate {
    0%{
        --a: 0deg;
    }

    100%{
        --a: 360deg;
    }
}

.box::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from var(--a),silver 0%,crimson 5%,transparent 40%,darkblue 50%);
    animation: animate 4s linear infinite;
    animation-delay: -1s;
    border-radius: 30px;
}

.box::after{
    content: "";
    position: absolute;
    inset: 8px;
    background: #25252d;
    border-radius: 20px;
    border: 8px solid #25252d;
}




/* section 3 starts here */

 #sec3{
    width: 100%;
    height: 100vh;
    border: 1px solid black;
} 

#sec3 div{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 0 15px red;
    box-sizing: border-box;
    text-align: center;
    transition: .5s;
}

#sec3 div:hover{
    border-radius: 0%;
    /* background: red; */
}


#sec3 div::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
    z-index: -1;
    transform: rotate(-45deg);
}

#sec3 div p{
    margin: 0%;
    padding: 0%;
    color: aliceblue;
    font-size: 18px;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: .5s;
}
#sec3 div:hover p{
    box-shadow: 0 0 50px rgba(0,0,0, .5);
}