



table{
    background-color: aquamarine;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px grey;
}
table td{
    color: red;
    background-color: paleturquoise;
    border: 2px solid red;
    box-shadow: 10px 5px 10px 10px grey;

}
table td:hover{
    border-radius: 80px;
    color: red;
    background-color: white;
}
