


th{
    font-size: 25px;
    background-color: aquamarine;
    color: brown;
}
td{
    font-size: 25px;
    background-color: skyblue;
    color: brown;
}
td:hover{
    transform: scale(1.1);
    background-color: beige;
    color: crimson;
}

h2{
    color: crimson;
}