


th{
    font-size: 25px;
    background-color: aquamarine;
    color: brown;
}
td{
    font-size: 25px;
    background-color: skyblue;
    color: brown;
}
td:hover{
    transform: scale(1.1);
    background-color: beige;
    color: crimson;
}

h2{
    color: crimson;
    font-size: 30px;
}
input{
    width: 150px;
    height: 30px;
    font-size: 25px;
    padding-left: 5px;
}