*{
    margin: 0px;
    padding: 0px;
}
ul{
    border: 1px solid blue;
}
.navbar li a{
    text-decoration: none;
    margin: 10px;
    padding: 0%;
    list-style: none;
}
.navbar li a:hover{
    background-color: rgb(13, 248, 170);
}
#how{
    border: 1px solid rgb(200, 55, 6);
    font-size: 25px;
}
#that{
    border: 1px solid blue;
    background-color: aqua;
    margin-left: 2px;
    font-size: 25px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
#maindiv .box{
    width: 210px;
    height: 210px;
    border: 2px solid rgba(95, 25, 234, 0.856);

}
#maindiv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#box1{
    border: 1px;
    width: 320px;
    height: 300px;
    border: solid rgb(241, 5, 5);
    background-color: rgb(24, 215, 215);
    margin-left: 50%;
    border-radius: 100%;
}
#pic{
    background-image: url(car.tg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}   
#about{
    width: 100%;
    height: 100vh;
}




.acr{
    color: red;
    font-size: 20px;
}