#box{
    width: 350px;
    height: 300px;
    border: 1px solid black;
}
button{
    width: 115px;
    height: 40px;
    font-size: 20px;
}

#red{
    background-color: red;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}